/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
}

  /* Standard (light mode) variables */
:root {
  --primary-purple: #6558d3;
  --secondary-purple: #4133B7;

  --background-color: #e8e8e8;
  --headers: #425675;

  --text-color: #697e91;
  --head-h1-shadow: #e0e0e0;
  --head-p-color: #505860;

  --feather-card-icon-bg: #1FCAC5;
  --feather-card-color: #fff;
  --card-bg-color: #ecf0ff;
  --card-border-color: #425675;
  --card-shadow: #ceeef8;
  --card-tags-bg: #bed6fb;
  --card-tags-color: #425475;
}

/* Dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --secondary-purple: #6558d3;
    --primary-purple: #4133B7;

    --background-color: #111827;
    --headers: #efefef;

    --text-color: #9ca3af;
    --head-h1-shadow: #000;
    --head-p-color: #6d7680;

    --feather-card-icon-bg: #6CD4FF;
    --feather-card-color: #000;
    --card-bg-color: #080E1B;
    --card-border-color: #000;
    --card-shadow: #1C2332;
    --card-tags-bg: #343B4B;
    --card-tags-color: #fff;
  }
}

body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color 0.3s, color 0.3s;
}

h1, h2 {
  font-family: "Story Script", sans-serif;
  color: var(--headers);
}

h1 {
  font-size: 6rem;
  text-shadow: 10px 5px var(--head-h1-shadow);
}

h2, h3 {
  font-weight:300;
  letter-spacing: 0.1rem;
}

h3 {
  margin-bottom: 0.5rem;
}

.feather-small { 
  width: 14px;
  height: 14px;
}

.feather-card-header {
  background-color: var(--feather-card-icon-bg);
  padding: 2px;
  color: var(--feather-card-color);
  border-radius: 5px;
}

.one {
  padding-top: 25%;
  padding-bottom: 150px;
}

.one p {
  font-size: 2rem;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.image-container p {
  font-size: 1.5rem;
  text-align: center;
}

.tag-filter {
  margin-bottom: 0.5rem;
}

.filter-btn {
  border: none;
  background: var(--card-bg-color);
  padding: 8px 14px;
  margin-right: 6px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
  appearance: none;
  box-sizing: border-box;
  color: var(--card-tags-color);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.filter-btn:hover {
  color: var(--primary-purple);
  text-decoration: none;
  transition-duration: 0.2s;
}

.filter-btn.active {
  background: var(--primary-purple);
  color: #fff;
}

.project {
  transition: 0.3s;
}

.project.hidden {
  display: none;
}

.tags {
  margin-bottom: 10px;
}

.tags span {
  background: var(--card-tags-bg);
  color: var(--card-tags-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  padding: 5px 14px;
  border-radius: 12px;
  margin-right: 10px;
}

.card {
  /* For the button to be at the bottom */  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /**/
  margin-bottom: 3rem;
  height: 250px;
  padding: 20px;
  background: var(--card-bg-color);
  border: solid 0.25rem var(--card-border-color);
  border-radius: 8px;
  box-shadow:
  1rem 1rem 0 -0.25rem var(--card-shadow),
  1rem 1rem 0 0 var(--card-border-color);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card h3 {
  color: var(--headers);
}

.card:hover {
  transform: translate(-5px, -5px);
  box-shadow:
  0.5rem 0.5rem 0 -0.25rem var(--card-shadow),
  0.5rem 0.5rem 0 0 var(--card-border-color);
}

.card-title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block;
  position: relative;
  overflow: hidden;
}

.card-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 3px;
  background-color: var(--headers);
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.card:hover .card-title::after {
  transform: translateX(0);
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.card-btn {
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  color:#fff;
  font-size: 16px;
  border-radius: 20px;
  font-weight: 600;
  background: var(--primary-purple);
  transition-duration: .3s;
  border: 0px;
}

.card-btn:hover {
  background: var(--secondary-purple);
  text-decoration: underline;
}

footer {
  margin-top: 20rem;
  text-align: center;
  font-weight: 600;
}



/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width:320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
h1 {
  font-size: 8rem;
}

}
@media (min-width:481px) {
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
h1 {
  font-size: 8rem;
}

}
@media (min-width:641px) {
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
h1 {
  font-size: 8rem;
}
.card {
  height: 350px;
}

}
@media (min-width:961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
h1 {
  font-size: 10rem;
}
.card {
  height: 250px;
}

}
@media (min-width:1025px) {
/* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) {
/* hi-res laptops and desktops */

}